*{
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 1.3rem;
  color: #797979;
}
html{ height: 100%; }
body {
  display: grid;
  grid-template-columns: 13.3rem 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.nav-wrapper {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #202020;
  height: 100%;
}
.content-wrapper {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #36393F;
}
.image-area{
  position: relative;
  text-align: center;
  color: white;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 9rem;
  height: 9rem;
}
.image-area .flip{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  max-height: 9rem;
  border-radius: 10px;
}
.image-area:hover .flip{
  display: none;
}
.image-area .personal-info{
  text-align: center;
  font-size: 0.9rem;
}
.navigation{
  border-top: 1px solid #373737;
  margin-top: 2rem;
}
.navigation a{
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #373737;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
}
.navigation *{
  font-size: 0.75rem;
  color: white;
  font-style: normal;
}
.navigation a:hover{
  background-color: #373737;
}
.navigation a.selected{
  background-color: #373737;
}
